{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "brace-style": [2, "stroustrup"],
    "indent": [2, 4],
    "new-cap": [2, { "capIsNewExceptions": 
      ["Component", "Input", "Injectable"] 
     }]
  },
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "beforeEachProviders": true,
    "injectAsync": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
